.span-first-card{

    font-size : 1.3rem ;
    outline: none;

}

.river{
    margin-top : 20px !important ;
    margin-left : 38% ;
}
.icon-size{
    font-size: 2rem !important;
}

body{
    background-color : #fff ;
}
